@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
    margin: 0px;
}

h1, h2, h3 {
    font-family: 'Permanent Marker', cursive;
}

.alert {
    color: #ff4545;
    margin: 50px;
    font-size: 2em;
}

.categoryComment {
    width: 550px;
    padding: 0 0 200px 0;
}

.createHeader {
    margin: auto;
    text-align: center;
    text-decoration: underline;
}

.createSpan {
    margin: auto;
    text-align: center;
}

.epRow{
    padding-top: 100px;
    vertical-align: middle;
}

.mainButton {
    font-family: 'Permanent Marker', cursive;
    display: block;
    font-size: 1.1em;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    width: 300px;
    border-radius: 3.5%;
}

.mainButton:hover {
    cursor: pointer;
    width: 300px;
    background-color: white;
    color: black;
    text-decoration: none;
}

.content {
    width: 85%;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25em;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: 0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.log-in, .log-out, .register {
  background-color: black;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline: 0;
  cursor: pointer;
  font-family: 'Permanent Marker', cursive;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: white;
  color: black;
}

.longInput{
    width: 250px;
}

.profileButton{
        border-radius: 25%;
        display: block;
        font-size: 1.1em;
        margin: auto;
        background-color: white;
        color: black;
}

.profileButton:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.radioInput{
    display: inline;
    margin-left: 15px;
}

.superLongInput{
    width: 450px;
}

.positionTableHeader{
    background-color: lightgrey;
    text-align: left;
    border-bottom: 1px solid black;
}

.profiletd{
    min-width: 175px;
}

.positionRightTD{
    border-right: 1px solid black;
    padding-right: 30px;
}

.positionTableProfileHead{
    text-align: center;
}

.positionTable{
    border-collapse: collapse;
    margin: auto;
    border: 1px solid black;
}

.positiontd{
    min-width: 100px;
    text-align: left;
    padding-top: 3px;
}

.positiontr{
    border-right: 1px solid black;
}

.positiontr:hover{
    background-color: lightgray;
}