@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
    margin: 0px !important;
}

h1, h2, h3 {
    font-family: 'Permanent Marker', cursive !important;
}

.alert {
    color: #ff4545 !important;
    margin: 50px !important;
    font-size: 2em !important;
}

.categoryComment {
    width: 550px;
    padding: 0 0 200px 0;
}

.createHeader {
    margin: auto !important;
    text-align: center !important;
    text-decoration: underline;
}

.createSpan {
    margin: auto !important;
    text-align: center !important;
}


.createPosition {
    font-family: 'Permanent Marker', cursive !important;
    display: block !important;
    font-size: 1.1em !important;
    margin: auto !important;
    margin-top: 10px !important;
    padding: 10px !important;
    background-color: black !important;
    color: white !important;
    text-decoration: none;
}

.createPosition:hover {
    cursor: pointer !important;
    background-color: white !important;
    color: black !important;
    text-decoration: none;
}

.content {
    width: 85% !important;
    margin: auto !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 1.25em !important;
}

form {
    background-color: #dbd5d5 !important;
    width: 30% !important;
    height: 250px !important;
    margin: 20px auto !important;
    padding: 25px !important;
    border-radius: 2px !important;
}

input {
    margin: 5px !important;
    margin-bottom: 10px !important;
}

.log-in, .log-out, .register {
  background-color: black !important;
  border-radius: 4px !important;
  color: #f8f8f8 !important;
  min-height: 50px !important;
  min-width: 100px !important;
  outline:0 !important;
  cursor: pointer !important;
  font-family: 'Permanent Marker', cursive !important;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: white !important;
  color: black !important;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none !important;
    color:inherit !important;
    border:none !important;
    padding:0 !important;
    font: inherit !important;
    outline:0 !important;
    border-bottom:1px solid #444 !important; 
    cursor: pointer !important;
}

.profileButton{
        font-family: 'Permanent Marker', cursive !important;
        display: block !important;
        font-size: 1.1em !important;
        margin: auto !important;
        background-color: white !important;
        color: black !important;
}

.profileButton:hover {
    cursor: pointer !important;
    background-color: black !important;
    color: white !important;
}

.radioInput{
    display: inline !important;
    margin-left: 15px !important;
  }