@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.nav-title {
    font-size: 2.2em;
    font-weight: 700;
    display: inline-block;
    color: black;
    padding-left: 10px;
}

.nav {
  overflow: hidden;
  background-image: url(https://static8.depositphotos.com/1263295/801/i/950/depositphotos_8017382-stock-photo-ice-rink-background.jpg) !important;
  font-family: 'Permanent Marker', cursive;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: black;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Permanent Marker', cursive;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-link:hover {
  background-color: white;
  color: black;
}

.nav-right {
  float: right;
}