@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.nav-title {
    font-size: 2.2em !important;
    font-weight: 700 !important;
    display: inline-block !important;
    color: black !important;
    padding-left: 10px !important;
}

.nav {
  overflow: hidden !important;
  background-image: url(https://static8.depositphotos.com/1263295/801/i/950/depositphotos_8017382-stock-photo-ice-rink-background.jpg) !important;
  font-family: 'Permanent Marker', cursive !important;
}

.nav-link {
  float: left !important;
  color: #f2f2f2 !important;
  background-color: black !important;
  text-align: center !important;
  padding: 30px 30px !important;
  text-decoration: none !important;
  font-size: 15px !important;
  font-family: 'Permanent Marker', cursive !important;
  /* these last two make the logout button in
  the nav bar look like another link */
  border:none !important;
  cursor: pointer !important;
  outline:0 !important;
}

.nav-link:hover {
  background-color: white !important;
  color: black !important;
}

.nav-right {
  float: right !important;
}